body {
	background: #001821;
	color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	line-height: 1.42;
}

a {
	color: inherit;
}


.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	margin: 0 auto;
	width: 1170px;
	padding: 0 15px;
}
