.footer {
	display: flex;
	justify-content: space-between;
}

.footer__col{
	display: flex;
}

.footer .contacts {
	margin-top: -4px;
}

.footer-container{
	margin-top: auto;
}

.footer-container__content {
	border-top: 1px solid rgba(255, 255, 255, .1);
}