.socials {
	display: flex;
	flex: 1 0 175px;
	margin: 3px 73px 0 0;
}

.socials__item {
	margin-right: 10px;
}

.socials__item:last-child{
	margin-right: 0;
}

.socials__link {
	display: block;
	width: 36px;
	height: 36px;
	background: url('../../images/icons/social/css_sprites.png') no-repeat;
}



.socials__item_icon_telegram .socials__link {
	background-position: -122px -10px;
}

.socials__item_icon_telegram .socials__link:hover {
	background-position: -122px -66px;
}

.socials__item_icon_vk .socials__link {
	background-position: -10px -122px;
}

.socials__item_icon_vk .socials__link:hover {
	background-position: -66px -122px;
}

.socials__item_icon_fb .socials__link {
	background-position: -10px -10px;
}

.socials__item_icon_fb .socials__link:hover {
	background-position: -66px -10px;
}

.socials__item_icon_inst .socials__link {
	background-position: -10px -66px;
}

.socials__item_icon_inst .socials__link:hover {
	background-position: -66px -66px;
}