.main-page-wrapper {
	background: url('./../../../images/top_bg.jpg') center top no-repeat, url('./../../../images/bottom_bg.png') center bottom 155px no-repeat;
}

.main__header{
	margin-bottom: 120px;
}

.main__footer{
	height: 146px;
	padding-top: 46px;
}